<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://use.typekit.net/ziv2awc.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Chris Wells</title>
    <link rel="stylesheet" href="../css/styles.css">
<script src="js/script.js" defer></script>
</head>
<body>

    <header>
		<div class="row">
			<a class="site-logo" href="/index.html">Chris Wells</a>
			<!-- Main Navigation -->

			<nav id="mainNav">
			    <ul id="menuItems">
			        <li><a href="/">Home</a></li>
			        <li><a href="/work">Work</a></li>
			        <li><a href="/expertise">Expertise</a></li>
			        <li><a href="/notes">Notes</a></li>
			        <li><a href="/about">About</a></li>
			        <li><a href="/contact">Contact</a></li>
			    </ul>
			    <button id="menuButton">&#9776;</button> <!-- This is the "waffle" menu button -->
			</nav>

		</div>
	</header>